@model AbaJohn.ViewModel.productViewModel

@{


    if (User.IsInRole("Admin"))
    {
        Layout = "_adminLayout";
    }
    if (User.IsInRole("seller"))
    {
        Layout = "_sellerLayout";
    }


}

<div style="text-align:center; margin-top:15">
    <h2> Add new Product</h2>
</div>


<hr />
<div class="continer" style=" margin:5%">


   
   <form asp-action="Add_product" method="post" enctype="multipart/form-data" >
      @*      <div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>

         <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="BaseImg" class="control-label">Select Image </label>
                <input asp-for="BaseImg" name="BaseImg" class="form-control" />
                <span asp-validation-for="BaseImg" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Select Category </label>
            <select name="category_id" id="category_id" class="form-control">

                @foreach (var category_item in ViewBag.cat)
                {

                    <option value="@category_item.Id">@category_item.Name</option>
                }
            </select>
            </div>
        </div> 
        
        
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Img1" class="control-label"></label>
                <input asp-for="Img1" name="Img1" class="form-control" />
                <span asp-validation-for="Img1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Img2" class="control-label"></label>
                <input asp-for="Img2" class="form-control" />
                <span asp-validation-for="Img2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Img3" class="control-label"></label>
                <input asp-for="Img3" class="form-control" />
                <span asp-validation-for="Img3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="title" class="control-label"></label>
            <input asp-for="title" class="form-control" />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

       
        <br/>
        <div class="form-group">
            <input type="submit" value="ADD" class="btn btn-primary" />
        </div>
        </form>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    </div>
 </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}